<div>

    <h1>Login</h1>
    <form [formGroup]="loginUser" (ngSubmit)="check()">
        <label>Username : </label>
        <input type="text" formControlName="user" placeholder="Enter username">
        <span style="color: red;" *ngIf="user && user.invalid && user.dirty">This field is required</span>
        <br>
        <label>Password : </label>
        <input type="password" formControlName="pass" placeholder="Enter password">
        <span style="color: red;" *ngIf="pass && pass.invalid && pass.dirty">This field is required</span>
        <br>


        <label>Organization : </label>
        <ng-multiselect-dropdown formControlName="orgType" [placeholder]="'Choose Here'" [settings]="dropdownSettings1"
            [data]="dropList1" [(ngModel)]="selectedItem1" (onSelect)="onItemSelect1($event)"
            (onSelectAll)="onselectAll($event)">
        </ng-multiselect-dropdown>
        <!-- <span style="color: red;" *ngIf="userType && userType.touched && userType.dirty">This field is required</span> -->
        <br>


        <label>UserType : </label>
        <ng-multiselect-dropdown formControlName="userType" [placeholder]="'Choose Here'" [settings]="dropdownSettings2"
            [data]="dropList2.data" [(ngModel)]="selectedItem2" (onSelect)="onItemSelect2($event)"
            (onSelectAll)="onselectAll($event)">
        </ng-multiselect-dropdown>
        <!-- <span style="color: red;" *ngIf="orgType && orgType.touched && orgType.dirty">This field is required</span> -->
        <br>

        <button type="submit">Submit</button>
    </form>
</div>


<!--  -->